<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EvaluationDao">
	<!-- 插入评价 -->
	<insert id="insertEva" parameterType="Evaluation">
		insert into Evaluation(product_code,user_id,level,date,content,reply_date,reply) values(#{productCode},#{userId},#{level},#{date},#{content},#{replyDate},#{reply}) 
	</insert>
</mapper>